html,body,#root,.App{
  height:100%;
}

.header, .footer{
  height:85px;
  background-color: #333;
  color: white;
}

.menu{
  background-color: #337733;
  width: 100%;
  height:100%;
}

.flexParent{
    display:flex;
    flex-direction: row;
    flex:1;
    height: calc(100% - 2*85px);
}
.menu{
    width: 230px;
}
.mainContent{
  height: calc(100% - 2*85px);
  flex:1;
}
@media (max-width:400px){
  .flexParent{
      flex-direction: column;
  }
  .menu{
      width: 100%;
      height: 85px;
  }
}



tr{
  border: 2px solid black;
  background-color: #eee;
}

tr:hover{
  background-color: #aaa;
  cursor: pointer;
}
